
<div class="row"> 
    <div class="col-xs-12 col-sm-9 col-md-9">
            <h2>About</h2>
            <p>Capture the Orangered is a capture the flag style game with a reddit theme developed and maintained by <a target="_blank" href="http://reddit.com/user/Kamoi">/u/Kamoi</a>.</p>
            <p>Be sure to check out the Capture the Orangered <a target="_blank" href="http://reddit.com/r/capturetheorangered">subreddit</a>.</p>
    </div>
    <div class="col-xs-0 col-sm-3 col-md-3">
    </div>
</div>
<div class="row"> 
    <div class="col-xs-12 col-sm-9 col-md-9">
            <h2>Disclaimer</h2>
            <p>reddit and the reddit alien are registered trademarks of reddit, inc.</p>
            <p>Capture the Orangered is not associated with or endorsed by reddit, inc.</p>
    </div>
    <div class="col-xs-0 col-sm-3 col-md-3">
    </div>
</div>
